body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  min-height: calc(100vh - 134px);
  padding: 1.5rem 0;
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.page-footer {
  padding: 10px 0;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.cart {
  position: fixed;
  bottom: 2rem;
  right: 0.9rem;
  cursor: pointer;
  z-index: 50;
  padding: 0.5rem;
  background-color: teal !important;
}

.cart-quantity {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: teal;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

@media (min-width: 767px) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
}
@media (max-width: 767px) {
  .spq {
    display: block;
  }
}

.table tr th {
  vertical-align: middle;
  text-align: center;
}

.table .scale button {
  box-shadow: none !important;
}

.quantity :hover {
  opacity: 1;
}

.base {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.basket-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  max-width: 95%;
  z-index: 5;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.5);
  background-color: #fff;
  padding: 10px !important;
  animation: show 0.2s ease-out;
}
.basket-list .basket-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

nav,
.page-footer {
  background-color: #851014;
}
@keyframes show {
  from {
    top: 70%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

.btn-group {
  font-size: 1rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.scale .btn {
  margin-right: 2px;
}
.scale .btn:focus {
  background-color: #2bbbad;
}
.brand-logo:hover {
  text-decoration: none;
}
